/* Add a black background color to the top navigation */

html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    /* set the margin to 0px */
    margin: 0px;
    /* set the padding to 0px */
    padding: 0px;
    /* dont want to have the down scroll bar */
    overflow-x: hidden;
    box-sizing: border-box;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.cart-btn {
  display: flex;
  justify-content: flex-end;
}

#cart {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 1em 4em 0 0;
}

.cart-quantity {
  color: white;
  background-color: red;
  padding: .2em .3em;
  position: absolute;
  margin: .8em 7.5em 0 0;
  right: 0;
  border: solid 2px red;
  border-radius: 15px;
  font-weight: bolder;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 1em
}

.card {
/*   width: 15rem; */
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product-image {
  margin-bottom: 1em
}

.add-to-cart {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

.cart-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50,50,50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
  
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
/*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

@media (max-width: 1000px){
  .cart-modal {
    width: 100vw;
  } 
  
  .product-row {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .remove-btn {
    margin: 0
  }
  
  .product-quantity {
    margin: .5em 0 .5em 0
  }
}





/* Hide the images by default */
.mySlides {display:none;}

.navbar {
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 30;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #EEEDDE;
    height: 70px;
    width:100%;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(8, 8, 8, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.text1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Noto Serif Display', serif;
    width: 40%;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 2%;
    font-family: 'Roboto Serif', sans-serif;
    color: #141E27;
    font-size: 30px;
}

.right_texts {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 60%;
}
.right_texts  a{
    font-family: 'Noto Serif Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    
    font-family: 'Roboto Serif', sans-serif;
    font-size: 20px;
    color: #141E27;
    transition: all 0.4s ease-in;
    text-decoration: none;
}
.right_texts a:hover{
  text-decoration: underline;
  color: #203239;
    letter-spacing: 0.2em;
}

 .first_section {
  margin-top: 7%;
     display:flex;
     flex-direction: column;
     color: #141E27;
     background-color: #EEEDDE;
     text-align:center;
     width:100%;
     height:350px;
     font-size:40px;
     margin-top: 5%;
 }

 
  .text{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: #141E27;
    font-family: 'Noto Serif Display', serif;
  
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
  
/*
.second_section {} css
*/
.second_section {
    margin-top:5%;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-color: #fff;
}

.items {
    margin-top: -3%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.title_house {
    display: flex;
    flex-direction: row;
    width: auto;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 0.1rem;
    color: #141E27;
}

.hr {
    margin-left: 0%;
    width: 35%;
    border: 1px #141E27 solid;
}

.hr_r {
    margin-right: 0%;
    width: 35%;
    border: 1px #141E27 solid;
}
.img_detail{
    display:flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.img{
    /* height: 150px;
    width: 150px; */
    width:200px;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    }
    
    .img:hover {
    box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.2);
    }
    .middle {
      margin-top: -2.5%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      /* background-color: #f5f1da; */
      padding: 2% 2%;
  }
  .paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .paragraph p {
      color: black;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.1rem;
      text-align: center;
  }
  
  .book {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      height: 290px;
      width: 220px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
  }
  
  .book:hover .add-to-cart {
      box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.2);
      transform: translateX(0);
  }

/* end of second section */
.third_section {
    display:flex;
    flex-direction:column;
    height:500px;
    width:100%;
    background-color: #fff;
}
.ads{
    display: flex;
    align-items: center;
}
/* end of ad */
/* map */
.section-title{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.hr {
    margin-left: 0%;
    width: 35%;
    border: 1px black solid;
}

.hr_r {
    margin-right: 0%;
    width: 35%;
    border: 1px black solid;
}
.contact{
    display:flex;
    flex-direction:column;
    height:400px;
    width:100%;
    background-color:#fff;
}
.location{
    display: flex;
    flex-direction: column;
    width: auto;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 0.1rem;
    color: black;
    width:auto;
}
/* .info{
    display: flex;
    flex-direction: column;
    width: auto;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 0.1rem;
    color: black;
    width:auto;
}
.info p{
    margin-top: 12px;
} */
/* end of map */
/* comment css */

.comment{
margin-top:5%;
}
q  {
  font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
   text-decoration: none;
   color: black;
}
p{
  font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
   text-decoration: none;
   color: black;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #fff;
  height: 200px;

}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #141E27;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #E0DDAA;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
/* end of the comment css */
/* footer section */
.footer {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: #203239;
    align-items: center;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1rem;
    color: #E0DDAA;
    text-align: center;
    
}

/* footer */
.links {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 33.3%;
    color: #E0DDAA;
}

.links>a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #E0DDAA;
    text-decoration: none;
}

.links a {
    margin-right: 20px;
    font-size: 18px;
    color: #E0DDAA;
}

.links a:hover {
    text-decoration: underline;
    color: gray;
    
}

.contact_footer {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 33.3%;
    color: #E0DDAA;
}

.social_links i {
    font-size: 18px;
    color: #E0DDAA;
}

.social_links {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    width: 33.3%;
    color: #E0DDAA;
}
/* contact form */

  .hrs{
    border:0.2px solid #EEEDDE;
    width: 100%;
  }
  #footer {
    background: #203239;
    padding: 0 0 30px 0;
    color: #E0DDAA;
    font-size: 14px;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
 
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color:#E0DDAA;
  }
  .credits a{
    color:#E0DDAA;
    text-decoration: none;
  }
  /* contact form */

  .info h4 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: space-around;
  }
  
   .info p {
    justify-content: space-around;
    height: 40px;
    font-size: 14px;
    color: #484848;
  }
   .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  .info .php-email-form {
    width: 100%;
    background: #fff;
  }
  .info .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .info .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  .info .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .info .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .info .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .info .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  .info .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #ffc451;
  }
  .info .php-email-form input {
    height: 44px;
  }
  .info .php-email-form textarea {
    padding: 10px 12px;
  }
  .info .php-email-form button[type=submit] {
    background: #ffc451;
    border: 0;
    padding: 10px 24px;
    color: #151515;
    transition: 0.4s;
    border-radius: 4px;
  }
  .info .php-email-form button[type=submit]:hover {
    background: #ffcd6b;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .info {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
  }